.flex_button {
  display: flex;
}

.space {
  padding: 1rem;
  margin: 1rem;
}

.flex_nav {
  display: flex;
  margin-right: 1.5rem;
  margin-left: 1.46rem;
}

footer {
  background-color: gainsboro;
}

.control {
  width: 5rem;
  height: 5rem;
}

.smoke {
  background-color: whitesmoke;
}

body {
  background-size: 100vh;
}
