.flex_button {
  display: flex;
}

.all {
  background-image: url(/assets/thumb-1920-927337.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.space {
  padding: 1rem;
  margin: 1rem;
}

.flex_nav {
  display: flex;
  margin-right: 1.5rem;
  margin-left: 1.46rem;
}
